.titre {
    margin-left: 300px;
    margin-right: 300px;
    padding-bottom: 0px;
}

.paragraphe_image {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.paragraphe {
    width: 100%;
    margin: 32px;
}

.image {
    width: 100%;
}

.image img {
    width: 100%;
    height: auto;
}

.image2paragraphe {
    display: flex;
}

.image_gauche {
    height: 100%;
    width: auto;
}

/* Pour modifier la taille du container */
.image_info {
    width: 25%;
}

/* pour remplir l'image sur l'espace du container */
.image_info img {
    width: 100%;
    height: auto;
}

.paragraphe_milieu {
    width: 50%;
    margin: 30px;
    padding-bottom: 20px;
}

/* Pour modifier la taille du container */
#images_guerison {
    width: 25%;
}


/* pour remplir l'image sur l'espace du container */
#images_guerison img {
    width: 100%;
    height: auto;
}

@media (max-width: 1024px) {
    .paragraphe_image {
        flex-direction: column;
    }

    .titre {
        margin-right: 0px;
        margin-left: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .paragraphe_image {
        margin: 20px 0px 20px 0px;
    }

    .paragraphe_image>* {
        width: 100%;
    }
}

@media (max-width: 320px) {
    .paragraphe_image {
        margin: 0px;
    }
}
